@import url('https://fonts.googleapis.com/css?family=Dosis');

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* section home page */

.header{
	padding-top: 27px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99;
	padding-bottom: 27px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo{
	float: left;
}

.header .navbar-toggle {
    padding: 0;
    margin: 0;
    border: none;
}

.navbar-toggle {
    position: relative;
    float: right;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.header-nav {
    float: right;
    text-transform: uppercase;
    color: rgba(254, 254, 254, .75);
    font-size: 11px;
    font-weight: normal;
    line-height: 21px;
}

.header-nav a {
    letter-spacing: 0.3em;
    text-indent: 0.3em;
}

.header-nav a:hover {
    color: rgb(254, 254, 254);
}

.header-nav a+a{
	margin-left: 35px;
}

.header .navbar-toggle {
	padding: 0;
	margin: 0;
    border: none;	
}

.inner{
	height: 100vh;
	background: url('../img/Background.jpg') no-repeat center / cover;
	text-align: center;
}

.inner::before{
	content:'';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
}

.inner-content{
	display: inline-block;
	vertical-align: middle;	
}

.inner-content h1{
	font-family: "Dosis", sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	text-transform: uppercase;
    color: rgba(254, 254, 254, .9);
}

.inner-content span{
	opacity: 0.68;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    margin-top: 92px;
    display: block;
}

.inner .go-to-block {
    color: #222222;
    position: absolute;
    bottom: 40px;
    left: 50%;
    height: 20px;
    width: 20px;
}

.rhomb-icon{
	display: block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}

.rhomb-icon > *{
	transform: rotate(-45deg);
}

.rhomb-icon.black-icon{
	background-color: #111;
	color: #fff;
}

.rhomb-icon.white-icon{
	background-color: #fff;
	color: #111;
}

.rhomb-icon.transparent-icon{
	color: #111;
	border: 1px solid rgba(0, 0, 0, .7);
}

.rhomb-icon.large-icon{
	width: 27px;
	height: 27px;
	line-height: 27px;
}

.container {
    margin: 0 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-3 > div {
    width: 32%
}

/* styles for about section */

.title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.title-about {
    text-align: left;
}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitle-about > small {
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;    
}

.img-list {
    margin: 6% 0;
}

.worker-job, .worker-name {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
}


/*services section */

.list-services {
    display: flex;
    justify-content: center;

}

.list-services li{
    text-align: center;
    margin: 0 3%;
    color: #777777;
}

.list-services li span {
    font-size: 48px;
    font-weight: 400;
}

.active-icon, .active-icon span {
    color: #111111;
}

/* section digital-services */

.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}

.white-btn {
    background-color: #ffffff;
    opacity: 0.8;
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    border: none;
    outline: none;
    margin: 10px 0;
    padding: 12px 0;
    width: 40%;
}

.white-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.monitor-img {
    float: right;
    margin-top: -40px;
}

.digital-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}

/* portfolio section*/

.portfolio-text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;

}

.portfolio-list {
    display: flex;
    justify-content: center;

}

.portfolio-list li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray-layer {
    width: 30%;
    filter: grayscale(100%);
}

.gray-layer:hover {
    filter: none;
    cursor: pointer;
}

/* creative works */

.creative-works {
    height: 218px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/* why choose us */

.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5.6px;
    margin: 35px 0;
}

.custom-icons span {
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
}

.row-3-center {
    text-align: center;
}

.row-margin {
    margin-top: 40px;
}

/* news */

.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-title p {
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}



.gray-btn {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 0 20px;
}

.text-news {
    margin: 20px 0;
}

.subscribe {
    height: 264px;
    margin: 100px 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

.black-title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.text {
    width: 350px;
    height: 25px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 5px;
}

.black-btn {
    text-transform: uppercase;
	border-radius: 2px;
	letter-spacing: .2em;
	border: none;
	padding: 13px 25px;
    line-height: 1;  
    font-size: 13px;
	color: #fff;
	background-color: #323232;
}

.require-info{
	font-size: 11px;
    color: #aaa;
}

/*contacts*/

.contacts {
    margin: 0 20px;
    text-align: center;
    max-width: 100%;
    padding-bottom: 50px;
}

.contact-inputs {
    display: flex;
    margin-right: 110px;
    margin-left: 120px;
}

.contact-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-inputs input, .contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contact-inputs textarea {
    height: 85px;
}

.subscribe-text {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 940px;
}
.subscribe-button {
    border: none;
    height: 36px;
    margin-left: 900px;
    padding: 0 20px;
    background-color: #111111;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    border-radius: 2px;
}

.btn-submit-message {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
    margin-left: 820px;
    margin-top: -250px;
}
.contact-btn {
    display: flex;
    justify-content: space-between;
}
/*map*/
.map{
	position: relative;
	overflow: hidden;
}
.map iframe{
	width: 100%;
	height: 410px;
}
.map .on-map-block{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	transition: all .3s linear;
}
.map:hover .on-map-block{
	opacity: 0;
	transform: translateY(100%);
}
.map .on-map-block-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.map .on-map-block-content .large-icon{
	display: inline-block;
}
.on-map-block-content .title{
	display: block;
	margin-top: 25px;
	margin-bottom: 0;
}

/*contacts*/

.footer{
	padding-top: 140px;
	padding-bottom: 20px;
    background-color: #f8f8f8;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;

}
.footer .footer-social-nav{
	margin-top: 25px;
	margin-bottom: 110px;
}
.footer .footer-social-nav .rhomb-icon{
	display: inline-block;
	vertical-align: middle;
}
.footer .footer-social-nav .rhomb-icon:hover{
	color: #fff;
	background-color: #111;
}
.footer .footer-social-nav .rhomb-icon + .rhomb-icon{
	margin-left: 15px;
}
.footer .footer-copyright .date-of-creation{
	font-family: "Dosis", sans-serif;
	font-size: 12px;
	color: #111;
	line-height: 24px;
	letter-spacing: .5em;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
}
.footer .footer-copyright .footer-slogan{
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	line-height: 24px;
	color: #999;
}

.arrow-up{
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 60px;
	color: #c6c6c6;
	cursor: pointer;
	transition: all .3s linear;
	z-index: 99;	
	display: block;
}
.arrow-up .arrow-up-icon:hover,
.arrow-up-icon:active,
.arrow-up-icon:focus{
	color: #c6c6c6;
}

.contact-item .contact-item-icon,
.contact-item .contact-item-content{
	display: inline-block;
	vertical-align: middle;
}
.contact-item .contact-item-content{
	margin-left: 15px;
}
.contact-item .contact-item-content span{
		display: block;
}
.contact-item .contact-item-content .contact-title{
	font-size: 12px;
	color: #777;
	letter-spacing: .3em;
	margin-bottom: 10px;
}
.contact-item .contact-item-content .contact-data{
	font-size: 15px;
	color: #444;
}


/* media queries */

@media screen and (max-width: 960px) {
    .inner-content h1{
		letter-spacing: .7em;
		text-indent: .7em;
	}
    .row-3 {
        flex-wrap: wrap;
    }
    .row-3 > div {
        width: 48%;
    }
    .row-3 .subtitle-about {
        width: 100%;
    }
    .img-list> div {
        width: 100%;
        text-align: center;
    }
    .monitor-img {
        display: none;
    }
    .list-services {
        flex-wrap: wrap;

    }
    .portfolio-text {   
        max-width: 90%;
    }
    .gray-layer{
        width: 50%;
    }
    .contacts {
        margin: 0 4%;
    }
    .contact-inputs{
        flex-direction: column;
    }
    .contact-inputs > div {
        width: 100%;
        margin: 0;
    }
    .contact-btn {
        flex-direction: column;
        align-items: center;
    }  
    .subscribe-text {
        width: 100%;
    }
    .gray-btn {
        margin-bottom: 25px;
    }
    .btn-submit-message {
        width: 400px;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .inner-content h1{
		letter-spacing: .5em;
		text-indent: .5em;
	}
    .row-3 > div {
        width: 100%;
    }
    .portfolio-list {
        flex-direction: column;
        align-items: center;

    }
    .gray-layer{
        width: 100%;
    }
    .subscribe-text {
        width: 100%;
    }
    .gray-btn {
        margin-bottom: 25px;
    }
    .btn-submit-message {
        width: 200px;
        margin-left: 0;
        margin-top: 20px;
    }

}